@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global CSS Start */
html {
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", sans-serif;
    margin: 0;
    line-height: 1;
    font-weight: 400;
}

p {
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

button,
textarea,
input {
    font-family: "Raleway", sans-serif;
}

input {
    font-family: "Raleway", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0.9375rem;
}


.py-7 {
    padding: 4.375rem 0;
}

.pt-7 {
    padding-top: 4.375rem;
}

.pb-7 {
    padding-bottom: 4.375rem;
}

.py-10 {
    padding: 6.25rem 0;
}

.pb-10 {
    padding-bottom: 6.25rem;
}

.pt-10 {
    padding-top: 6.25rem;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

/* Global CSS End */

/* Website Scrollbar CSS  */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #0b6354;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b6354;
}

/* Website Scrollbar CSS  */

/* Section Heading CSS Start */
.section_heading {
    color: #0b6354;
    font-size: 3rem;
}

span.theme {
    color: #1698a1;
}

.bg_dark {
    background-color: #f5f5f7;
}



.bg_light {
    background-color: #fff;
}

.text_white {
    color: #fff;
}

.aoshide {
    overflow: hidden;
}

/* Section Heading CSS End */

/* Button CSS Start */

/* Button CSS Start */
.butn {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: 2px solid #0b6354;
    z-index: 1;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 0 15px;
}

.butn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: #0b6354;
    transition: all 0.3s ease;
    border-radius: 0 15px;
}

.butn:hover {
    color: #fff;
}

.butn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
}

/* Button CSS End*/


/* Header CSS Start */
.header--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 0 40px;
    padding: 0.9375rem 0px;
}

.header--sticky.fixed_header {
    background-color: #fff;
}

.header--sticky.fixed_header .header__logo {
    filter: invert(1);
}

.header--sticky.fixed_header .header__menu-link {
    color: #111;
}

.header--sticky.fixed_header .header__menu-link::after {
    background: #111;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.9375rem 0;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__brand {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.header__logo,
.footer__logo {
    background-image: url(../images/logo.svg);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    height: 3.75rem;
    width: 14.75rem;
    transition: 0.3s all ease-in-out;
}

.header__menu-toggle {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    z-index: 60;
    background-image: url("../images/menu.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header__menu {
    display: flex;
}

.header__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__menu-item {
    margin: 0;
}

.header__menu-link {
    padding: 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    position: relative;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
}

.header__menu-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1.5px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.header__menu-link--active::after {
    transform: scaleX(0.9);
    background: #fff;
    transform-origin: center;
}

.header__menu-link:hover::after {
    transform: scaleX(0.9);
}

.header__menu-close {
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/close.png);
}

/* Header CSS End */



/* Banner CSS Start */
.banner {
    height: 100vh;
    position: relative;
}

.banner__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.banner__video-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner__content {
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

.banner__title {
    color: #fff;
    font-size: 2.75rem;
    margin: 0 0 0.625rem 0;
    font-weight: 600;
}

.banner__subtitle {
    letter-spacing: 1px;
    display: block;
    margin: 0 0 0.625rem 0;
    color: #fff;
    font-size: 1rem;
}

/* Banner CSS End*/


/* Hotel Categories CSS Start */
.hotel_featured_cards_rap {
    max-width: 75rem;
    margin: 0 auto;
}

.hotel_featured_cards {
    display: block;
}

.featured_card_container {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.featured_card_bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
}

.featured_card_container:hover .card-bg {
    transform: scale(1.05);
}

.featured_hidden_text {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(11 99 84);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.5s ease;
    text-align: center;
}

.featured_card_container:hover .featured_hidden_text {
    right: 0;
}

.featured_hidden_text h3 {
    font-size: 1.6rem;
}

.featured_hidden_text p {
    margin: 0;
    font-size: 16px;
    text-align: center;
}

.hotel_cat_btn {
    border-color: #fff;
}

.hotel_cat_btn:hover {
    border-color: #000;
}

.hotel_cat_btn::after {
    background: #000;
}

/* Hotel Categories CSS End */


/* Home Hotel Cards CSS Start */
.home_cat_cards {
    width: 100%;
    height: 25rem;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    border-radius:0 20px;
    padding: 0 20px;

}

.home_cat_cards::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.home_cat_cards:hover::before {
    background: rgba(0, 0, 0, 0.8);
}

.home_cat_cards_content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.25rem;
    color: white;
    transition: top 0.5s ease;
    z-index: 2;
    padding: 0 15px;
}

.home_cat_btn {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.625rem 1rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: bottom 0.5s ease;
    z-index: 2;
    width: max-content;
    border: 1px solid #fff;
    transition: 0.3s all ease-in-out;
}

.home_cat_btn:hover {
    border-color: #0b6354;
}

.home_cat_cards:hover .home_cat_cards_content {
    top: 10%;

}

.home_cat_cards:hover .home_cat_btn {
    bottom: 20px;

}

/* Home Hotel Cards CSS End*/

/* Why Us Cards CSS Start */
.why_us_card {
    width: 100%;
    background-color: #0b6354;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.4s ease;
    border-radius:0 20px;
    padding: 1.5625rem;
    height: 100%;
    border-left: 5px solid #0b6354;
    border-right: 5px solid #0b6354;
}

.why_us_card:hover {
    transform: translateY(-5px);
}

.why_us_card_icon {
    width: 100%;
    margin: 0 auto;
}

.why_us_card_icon_inner {
    height: 3.75rem;
    width: 3.75rem;
    margin: 1.25rem auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.why_us_card_text h3 {
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 20px;
}

.why_us_card_text p {
    font-size: 1rem;
}

.why_us_card_wrap>p.what_we_look {
    color: #f20040;
    font-size: 2rem;
}

.why_us_card_wrap .section_heading {
    line-height: 1.4;
}

/* Why Us Cards CSS End */